<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
    <%= locals.title %>
</title>
<meta name="title" content="<%= locals.title %>" />
<meta name="description" content="A simple blog application built with Node.js, Express, and MongoDB." />
<!--favicon -->
<link rel="icon" type="image/png" href="/image/favicon.png" />

<!-- CSS -->
<link rel="stylesheet" href="/css/style.css" />